<!DOCTYPE html>
{%  extends 'employees/SignUp.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1>welcome to login Page</h1>
    <a href="{% url 'signup' %}">SignUp</a>
    <a href="{% url 'logins' %}">LogIn</a>
    <a href="{% url 'employees' %}">Employees-list</a>
    <a href="{% url 'attendaces' %}">AttendAces</a>
    <a href="{% url 'payroll' %}">Payroll</a>
    <a href="{% url 'attendanceRec' %}">attendanceRecord</a>




    {% endblock %}
</body>
</html>